.simple-quote {
  background: url('../assets/foo.png');
}

.double-quotes {
  background: url("../assets/bar.png");
}

.no-quote {
  background: url(../assets/foo-bar.png);
}

.absolute {
  background: url("/foo/bar.png");
}

.remote-with-protocol {
  background: url("http://foo.bar/foo.png");
}

.remote-without-protocol {
  background: url("//foo.bar/foo.png");
}

@font-face {
  src: url("../assets/foo.eot")
}