.simple-quote {
  background: url('./foo.png');
}

.double-quotes {
  background: url("./bar.png");
}

.no-quote {
  background: url(./foo-bar.png);
}

.absolute {
  background: url("/foo/bar.png");
}

.remote-with-protocol {
  background: url("http://foo.bar/foo.png");
}

.remote-without-protocol {
  background: url("//foo.bar/foo.png");
}

@font-face {
  src: url("./foo.eot")
}